.DS_Store
project.private.config.json
node_modules/
server/node_modules/
.env
server/.env
server/logs/
server/.venv/
server/__pycache__/
server/app/__pycache__/
*.py[cod]
npm-debug.log*
coverage/
dist/
